.TEXT{
    text-align: center;
}
.PIC{
    margin-top: 100PX;
    text-align: center;

}
H1{
    color: blanchedalmond;
    background-color: black;
    text-align: center;
    
}
.P{
    background-color: black;
    text-align: center;
    margin-top: -9px;
    padding-bottom: 50px;
    
}
CardGroup{
    background-color: black;
}